<% content_for :main do %>
                
                <h1>Licenses</h1>

                <p>Here you will find information on handling licenses.</p>

                <ul>
                    <li><a href="#getall"># Get license collection</a></li>
                    <li><a href="#get"># Get one license</a></li>
                    <li><a href="#post"># Create a new license</a></li>
                    <li><a href="#put"># Update a license</a></li>
                    <li><a href="#delete"># Delete a license</a></li>
                </ul>

                <hr>

                <h2 id="getall">Get license collection</h2>

                <hr>

                <h2 id="get">Get one license</h2>

                <hr>

                <h2 id="post">Create a new license</h2>

                <hr>

                <h2 id="put">Update a license</h2>

                <p>Admin access only.</p>

                <hr>

                <h2 id="delete">Delete a license</h2>

                <p>Admin access only.</p>
<% end %>