<% content_for :main do %>
                
                <h1>Resource types</h1>

                <p>Here you will find information on handling resource types.</p>

                <ul>
                    <li><a href="#getall"># Get resource type collection</a></li>
                    <li><a href="#get"># Get one resource type</a></li>
                    <li><a href="#post"># Create a new resource type</a></li>
                    <li><a href="#put"># Update a resource type</a></li>
                    <li><a href="#delete"># Delete a resource type</a></li>
                </ul>

                <hr>

                <h2 id="getall">Get resource type collection</h2>

                <hr>

                <h2 id="get">Get one resource type</h2>

                <hr>

                <h2 id="post">Create a new resource type</h2>

                <hr>

                <h2 id="put">Update a resource type</h2>

                <p>Admin access only.</p>

                <hr>

                <h2 id="delete">Delete a resource type</h2>

                <p>Admin access only.</p>
<% end %>