<% content_for :main do %>
                
                <h1>Tags</h1>

                <p>Here you will find information on handling tags.</p>

                <ul>
                    <li><a href="#getall"># Get tag collection</a></li>
                    <li><a href="#get"># Get one tag</a></li>
                    <li><a href="#post"># Create a new tag</a></li>
                    <li><a href="#put"># Update a tag</a></li>
                    <li><a href="#delete"># Delete a tag</a></li>
                </ul>

                <hr>

                <h2 id="getall">Get tag collection</h2>

                <hr>

                <h2 id="get">Get one tag</h2>

                <hr>

                <h2 id="post">Create a new tag</h2>

                <hr>

                <h2 id="put">Update a tag</h2>

                <p>Admin access only.</p>

                <hr>

                <h2 id="delete">Delete a tag</h2>

                <p>Admin access only.</p>
<% end %>