<% content_for :main do %>

<div class="span16">
  <header class="page-header"><h1>Edit application</h1></header>
</div>

<div class="clearfix">

	<div class="span12">
	  <%= render 'form', :application => @application %>
	</div>

	<div class="span4">
	  <h2>Actions</h2>
	  <p><%= link_to 'Back to application list', oauth_applications_path %></p>
	</div>
	
</div>

<% end %>

