<input type="text" ng-model="resource.resource.data.name">
<input type="text" ng-model="resource.resource.data.description">
<input type="text" ng-model="resource.resource.data.url">

<select ng-model="resource.resource.data.license_id" ng-options="license.license.data.id as license.license.data.name for license in licenses.licenses"></select>

<select ng-model="resource.resource.data.resource_type_id" ng-options="type.resource_type.data.id as type.resource_type.data.name for type in types.resource_types"></select>

<select ng-model="resource.resource.data.tags" ng-options="tag.tag.data.id as tag.tag.data.name for tag in tags.tags"></select>

<button ng-click="processForm()">Spara</button>